
@font-face {
  font-family: 'CourierNewPS-BoldMT';
  src: url('CourierNewPS-BoldMT.eot?#iefix') format('embedded-opentype'),  url('CourierNewPS-BoldMT.woff') format('woff'), url('CourierNewPS-BoldMT.ttf')  format('truetype'), url('CourierNewPS-BoldMT.svg#CourierNewPS-BoldMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
