mixin portfolio()
	section.portfolio&attributes(attributes)
		.portfolio__container
			img.portfolio__recent(src="assets/img/recent.png" alt="recent")
			.portfolio__block
				.portfolio__row
					.portfolio__item
						img.portfolio__element.portfolio__element_how(src="assets/img/portfolio/how.png" alt="how")
					.portfolio__item
						img.portfolio__element.portfolio__element_tools(src="assets/img/portfolio/tools.png" alt="tools")
					.portfolio__item
						img.portfolio__element.portfolio__element_village(src="assets/img/portfolio/village.png" alt="village")
				.portfolio__row
					.portfolio__item
						img.portfolio__element.portfolio__element_hands(src="assets/img/portfolio/hands.png" alt="hands")
					.portfolio__item
						img.portfolio__element.portfolio__element_flower(src="assets/img/portfolio/flower.png" alt="flower")
					.portfolio__item
						img.portfolio__element.portfolio__element_color(src="assets/img/portfolio/color.png" alt="color")
				.portfolio__row
					.portfolio__item
						img.portfolio__element.portfolio__element_ferte(src="assets/img/portfolio/ferte.png" alt="ferte")
					.portfolio__item
						img.portfolio__element.portfolio__element_orange(src="assets/img/portfolio/orange.png" alt="orange")
					.portfolio__item
						img.portfolio__element.portfolio__element_circles(src="assets/img/portfolio/circles.png" alt="circles")
			.portfolio__block_mobile
				img.portfolio__element_mobile(src="assets/img/portfolio/how.png" alt="how")
				img.portfolio__element_mobile(src="assets/img/portfolio/tools.png" alt="tools")
				img.portfolio__element_mobile(src="assets/img/portfolio/village.png" alt="village")
				img.portfolio__element_mobile(src="assets/img/portfolio/hands.png" alt="hands")
				img.portfolio__element_mobile(src="assets/img/portfolio/flower.png" alt="flower")
				img.portfolio__element_mobile(src="assets/img/portfolio/color.png" alt="color")
				img.portfolio__element_mobile(src="assets/img/portfolio/ferte.png" alt="ferte")
				img.portfolio__element_mobile(src="assets/img/portfolio/orange.png" alt="orange")
				img.portfolio__element_mobile(src="assets/img/portfolio/circles.png" alt="circles")