.imagination
  display block
  width 100%
  height 31.2vw
  &__container
    width 40.4vw
    margin 9.3vw auto 0
  &__logo
    margin 0 auto 4.75vw
    display block
    width 16.7vw
    padding-left 1vw
  &__text
    font-size 22px
    font-family 'Gabriola'
    text-align center
    &_lone
      font-family 'Gabriola'
    &_image
      font-weight 700
  &__cave
    margin 1.6vw 0 0 0.7vw
    width 100%

@media screen and (max-width: 1023px)
  .imagination
    height 55vw
    &__logo
      width 40vw
      max-width  200px
    &__container
      width 80vw
    &__cave
      margin 3vw 0 0
      width 100%

@media screen and (max-width: 600px)
  .imagination
    height 60vw

@media screen and (max-width: 500px)
  .imagination
    height 60vw

@media screen and (max-width: 500px)
  .imagination
    height 75vw

@media screen and (max-width: 425px)
  .imagination
    height 95vw