mixin hfj-screens()
	section.hfj-screens&attributes(attributes)
		.hfj-screens__container
			img(src="assets/img/hfj-avatar.png" alt="avatar").hfj-screens__item
			img(src="assets/img/hfj-cicle.png" alt="cicle").hfj-screens__item
			img(src="assets/img/hfj-menu.png" alt="menu").hfj-screens__item
		p.hfj-screens__text
			| Except Website Design and Developement,
			span.hfj-screens__lonebird Lonebird Creative Studio
			| was given a comprehensive task,
			| including Design of the Newsletter, content writing,
			| Photography, as well as creation of a Project profile and identity as a whole
		p.hfj-screens__add
			| Shoaib Irshad: “Lone bird” is a clue for my success. Creative, dedicated and
			| hardworking partner which is for me a dream to deal with”.
		p.hfj-screens__web WEBSITE:
		a(href="https://www.howtofindajobinuae.com").hfj-screens__link www.howtofindajobinuae.com
		.work-nav__container
			a(href="hak-and-kak.html").work-nav__btn.work-nav__btn_left previous
			a(href="interfood.html").work-nav__btn.work-nav__btn_right next


