mixin wedo()
	section.wedo&attributes(attributes)
		.wedo__container
			p.wedo__name WHAT WE DO
			p.wedo__item WEBSITE DESIGN
			p.wedo__item LOGO DESIGN
			p.wedo__item IDENTITY CONCEPT DEVELOPEMENT
			p.wedo__item BRANDING
			p.wedo__item GRAPHIC DESIGN
			p.wedo__item PHOTOGRAPHY
			p.wedo__item CONTENT WRITING
			p.wedo__footer and DRINKING UNCOUNTABLE AMOUNT OF COFFEE AND TEA DURING A WORKDAY
