mixin hero()
	section.hero&attributes(attributes)
		.hero__img
			img(src="assets/img/logo.png" alt="logo").hero__logo
		.hero__pic
			img(src="assets/img/laptop.png" alt="laptop").hero__laptop
		.hero__text
			span.hero__lonebird Lonebird
			| loves doing her work because...
			| it is just a fun
