mixin quirre-screens()
	section.quirre-screens&attributes(attributes)
		.quirre-screens__container
			img(src="assets/img/quirre-tablet.png" alt="quirre-tablet").quirre-screens__tablet
			img(src="assets/img/quirre-info.png" alt="quirre-info").quirre-screens__info
			img(src="assets/img/quirre-laptop.png" alt="quirre-laptop").quirre-screens__laptop
		p.quirre-screens__web WEBSITE:
		a(href="http://www.quirre.com").quirre-screens__link www.quirre.com
		.work-nav__container
			a(href="lonebirdphotos.html").work-nav__btn.work-nav__btn_left previous
			a(href="toolsta.html").work-nav__btn.work-nav__btn_right next