mixin hak-logo()
	section.hak-logo&attributes(attributes)
		.hak-logo__container
			img(src="assets/img/infinity.png" alt="infinity").hak-logo__infinity
			p.hak-logo__name Family is all
			p.hak-logo__text
				span.hak-logo__hak HAK&KAK
				| is a project of special value for
				span.hak-logo__lonebird Lonebird Creative Studio.
				| As one of the first UAE projects and as one which brought us to a
				| pleasure to know and cooperate with one of the UAE national, long
				| term government employee and a person of a great caliber.
				br
				span.hak-logo__hak HAK&KAK
				| is a family establishment of former Vice President of Projects
				| & Engineering in Dubai Electricity and Water Authority - Khalid
				| Al Khajah, in both Consultancy and Food and Beverages areas.
			.hak-logo__laptop-block
				img(src="assets/img/laptop-frame.png" alt="laptop-frame").hak-logo__laptop-frame
				img(src="assets/img/hak-lap.jpg" alt="hak").hak-logo__laptop-inside
			p.hak-logo__desc
				span.hak-logo__lonebird Lonebird Creative Studio
				| provided the whole range of Design, Developement, Photography
				| and Customer Services for HAK&KAK.
				| While logo is a sketch of spouses’ hands by artist Mona Al Khaja,
				| we integrated it to a newly devised by our Creative Studio concept.
				| We had a major task to combine two entirely different fields as
				| Consultancy and Food and Beverages within one Website.


