.ivento-screens
  display block
  width 100%
  &__container
    padding-top 113px
  &__title
    color #1ebdc1
    font-family "Geomanist"
    font-size 5.4vw
    font-weight 700
    margin-left 10.7vw
    letter-spacing 0.05vw
  &__laptop-children
    display block
    width 43.5vw
    margin 47px auto 0
    padding-left 17px
  &__triangle
    display block
    width 32vw
    margin 75px 12.7% 0 0
    float right
  &__img, &__photo
    display block
    width 47.5vw
    margin 0 auto
    clear both
  &__img
    padding-top 255px
  &__photo
    margin-top 91px

@media screen and (max-width:1023px)
  .ivento-screens
    &__laptop-children
      width 65vw
      padding 0
    &__triangle
      width 45vw
    &__img
      padding-top 100px
      width 65vw
    &__photo
      width 65vw
      margin-top 100px

@media screen and (max-width: 767px)
  .ivento-screens
    &__container
      padding-top 60px
    &__title
      font-size 32px
      position static
      width 100%
      text-align center
      margin 0
    &__laptop-children
      width 80vw
    &__triangle
      width 68vw
      margin 50px 10% 0 0
    &__img
      width 80vw
      padding-top 50px
    &__photo
      width 80vw
      margin-top 50px