mixin ivento-screens()
	section.ivento-screens&attributes(attributes)
		.ivento-screens__container
			h2.ivento-screens__title we bring people closer
			img(src="assets/img/laptop-children.png" alt="laptop-children").ivento-screens__laptop-children
			img(src="assets/img/triangle.png" alt="triangle").ivento-screens__triangle
			img(src="assets/img/screen-img.png" alt="screen-img").ivento-screens__img
			img(src="assets/img/screen-photo.png" alt="screen-photo").ivento-screens__photo
		.work-nav__container
			a(href="interfood.html").work-nav__btn.work-nav__btn_left previous
			a(href="lonebirdphotos.html").work-nav__btn.work-nav__btn_right next

