mixin lonebirdphotos-logo()
	section.lonebirdphotos-logo&attributes(attributes)
		.lonebirdphotos-logo__container
			img(src="assets/img/infinity.png" alt="infinity").lonebirdphotos-logo__infinity
			p.lonebirdphotos-logo__name Our photography ally
			p.lonebirdphotos-logo__text
				span.lonebirdphotos-logo__lonebird Lonebird Creative Studio
				| and
				span.lonebirdphotos-logo__lonebird Lonebird Photography
				| are allies working under the one brand name, but possessing different occupations,
				| amicably partnering in each other projects.
			p.lonebirdphotos-logo__text
				span.lonebirdphotos-logo__lonebird Lonebird Photography
				| is a portfolio with purchasing facilities. It’s inspirational Photo
				| album and opportunity to aquire favourite images.
			img(src="assets/img/lonebirdphotos-city.png" alt="city").lonebirdphotos-logo__logo-big
			.lonebirdphotos-logo__laptop-block
				img(src="assets/img/laptop-frame.png" alt="laptop-frame").lonebirdphotos-logo__laptop-frame
				img(src="assets/img/lonebirdphotos-city.png" alt="city").lonebirdphotos-logo__laptop-inside
