.lonebirdphotos-logo
  width 100%
  background-color #fff
  position relative
  &__container
    padding-top 77px
  &__infinity
    width 52px
    margin 0 auto
    display block
  &__name
    color #343434
    font-family 'BerlinSansFB-Reg'
    font-size 30px
    text-align center
    margin-top 155px
    letter-spacing 1px
  &__text
    text-align center
    font-family "Gabriola"
    color #343434
    font-size 24px
    font-weight 400
    width 537px
    margin 34px auto 0
    line-height 28px
  &__lonebird
    font-family "NellaSueDemo"
    margin-right 10px
  &__logo-big
    width 54.6vw
    display block
    margin 111px 0 7.4vw 13.6vw
  &__laptop
    &-block
      position absolute
      top 46.8vw
      left 39.4vw
      width 37.4vw
      height 25.4vw
      overflow hidden
    &-frame
      width 100%
      height 100%
      position absolute
      z-index 3
    &-inside
      width 93.3%
      top 5%
      left 3.3%
      height 86%
      position absolute
      z-index 2

@media screen and (max-width: 1023px)
  .lonebirdphotos-logo
    &__text
      width 75vw
    &__name
      margin-top 100px
    &__logo-big
      width 75vw
      margin 80px auto 0
    &__laptop
      &-block
        position relative
        width 75vw
        margin 50px auto 0
        left 0
        top 0
        height 55vw
    &__desc
      bottom -9%

@media screen and (max-width: 767px)
  .lonebirdphotos-logo
    &__container
      padding-top 50px
    &__name
      margin-top 100px
    &__logo-big
      width 300px
      margin-top 40px
    &__desc
      position static
      width 75vw
      margin 30px auto 0

@media screen and (max-width: 424px)
  .lonebirdphotos-logo
    &__name
      margin-top 60px
    &__logo-big
      width 90vw
      margin 40px auto 0