.quirre-logo
  width 100%
  background-color #fff
  position relative
  &__container
    padding-top 55px
  &__infinity
    width 52px
    margin 0 auto
    display block
  &__name
    color #343434
    font-family 'BerlinSansFB-Reg'
    font-size 30px
    text-align center
    margin-top 140px
    letter-spacing 1px
  &__text
    text-align center
    font-family "Gabriola"
    color #343434
    font-size 24px
    font-weight 400
    width 537px
    margin 34px auto 0
    line-height 28px
  &__logo-big
    width 583px
    height 761px
    display block
    margin 226px auto 0
  &__desc
    position absolute
    font-family "Gabriola"
    color #111011
    font-size 24px
    font-weight 400
    text-align center
    bottom 393px
    right 17%
    line-height 29px
    width 232px

@media screen and (max-width: 1023px)
  .quirre-logo
    &__infinity
      width 40px
    &__text
      width 75vw
    &__name
      margin-top 100px
    &__logo-big
      width 400px
      height 400px
      margin-top 80px
    &__desc
      bottom -9%

@media screen and (max-width: 767px)
  .quirre-logo
    &__container
      padding-top 50px
    &__name
      margin-top 80px
      font-size 26px
    &__logo-big
      width 300px
      height 300px
      margin-top 40px
    &__desc
      position static
      width 75vw
      margin 30px auto 0

@media screen and (max-width: 424px)
  .quirre-logo
    &__name
      margin-top 60px
    &__logo-big
      width 280px
      height 280px