mixin quirre-logo()
	section.quirre-logo&attributes(attributes)
		.quirre-logo__container
			img(src="assets/img/qr-code.png" alt="qr-code").quirre-logo__infinity
			p.quirre-logo__name Maintenance in one click
			p.quirre-logo__text.
				Website design and developement, mobile application design, Company identity
				and logo design for project devised for maintenance  companies to save their time
				of problems solving and make their activity more organized.
				Both application - for web and mobile had complicated user interface
				envisaged great deal of information.
			img(src="assets/img/quirre-logo.png" alt="quirre-logo").quirre-logo__logo-big