.lonebirdphotos-screens
  display block
  &__container
    padding-top 27px
    width 65.3vw
    margin-left 17.4vw
    position relative
  &__see
    position absolute
    width 38.1vw
    height 58.2vh
    z-index 1
    display block
  &__text
    position absolute
    right -0.6vw
    top 3.4vw
    color #343434
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    width 26vw
    letter-spacing 0.1vw
    line-height 20px
  &__website
    color #343434
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    text-decoration none
    margin-right 1.3vh
    &:hover
      text-decoration underline
  &__editor
    position absolute
    z-index 2
    top 15.2vw
    left 24.6vw
    width 35.5vw
  &__train
    position absolute
    top 24vw
    width 23.3vw
  &__bird
    top 56.5vw
    width 33.1vw
    position absolute
    z-index 2
  &__duck
    position absolute
    top 50.7vw
    left 31.5vw
    width 33.4vw
    z-index 1
  &__info
    color #343434
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    width 45vw
    margin 81.1vw auto 0
    line-height 20px
    text-align center
  &__lone
    color #343434
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    text-decoration none
    margin-right 1.3vh
    &:hover
      text-decoration underline
  &__web
    color #343434
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    clear both
    text-align  center
    margin-top 10vw
    font-style italic
  &__link
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    text-decoration none
    color #343434
    clear both
    text-align center
    display block
    margin-top 2.4vw
    letter-spacing 0.1vw
    padding-bottom 1.3vw
    font-style italic
    &:hover
      text-decoration underline


@media screen and (max-width:1023px)
  .lonebirdphotos-screens
    &__container
      padding-top 100px
      width  75vw
      margin 0 auto
    &__see
      position static
      width 100%
      height auto
    &__text
      width 100%
      text-align center
      margin 80px auto
    &__text
      position static
    &__website
      position static
    &__editor
      width 100%
      position static
      margin-bottom 80px
    &__train
      position static
      width 100%
      margin-bottom 80px
    &__bird
      position static
      width 100%
      margin-bottom 80px
    &__duck
      position static
      width 100%
      margin-bottom 80px
    &__info
      width 100%
      margin 100px auto

@media screen and (max-width: 767px)
  .lonebirdphotos-screens
    &__container
      padding-top 40px
    &__title
      font-size 32px
      position static
      width 100%
      text-align center
      margin 0
    &__text
      margin 40px auto
    &__editor, &__train, &__bird, &__duck
      margin-bottom 40px
    &__info
      margin 0 auto 80px
