mixin lonebirdphotos-screens()
	section.lonebirdphotos-screens&attributes(attributes)
		.lonebirdphotos-screens__container
			img(src="assets/img/lonebirdphotos-see.png" alt="see").lonebirdphotos-screens__see
			.lonebirdphotos-screens__text
				a(href="www.lonebirdphotos.com").lonebirdphotos-screens__website Website
				| has simple user friendly, intuitive interface
				| with exceptional photography as the main illustrating
				| element. You can enjoy full picture display or leaf through
				| the thubmnails.
			img(src="assets/img/see&editor.png" alt="see&editor").lonebirdphotos-screens__editor
			img(src="assets/img/train.png" alt="train").lonebirdphotos-screens__train
			img(src="assets/img/lonebirdphotos-bird.png" alt="bird").lonebirdphotos-screens__bird
			img(src="assets/img/duck.png" alt="duck").lonebirdphotos-screens__duck
			.lonebirdphotos-screens__info
				a(href="www.lonebirdphotos.com").lonebirdphotos-screens__lone Lone Bird Photography
				| - photographer-enthusiast - capturing hard-to-reach, barely known and the most
				| marvelous corners of the world. Her photos reflect authentic culture and natural life.
		p.lonebirdphotos-screens__web WEBSITE:
		a(href="https://www.lonebirdphotos.com").lonebirdphotos-screens__link www.lonebirdphotos.com
		.work-nav__container
			a(href="ivento.html").work-nav__btn.work-nav__btn_left previous
			a(href="quirre.html").work-nav__btn.work-nav__btn_right next
