mixin quick-menu()
	section.quick-menu&attributes(attributes)
		.quick-menu__item.quick-menu__item_recent
			.quick-menu__bg
			a(href="ferte.html").quick-menu__link RECENT WORKS
		.quick-menu__item.quick-menu__item_contact
			.quick-menu__bg
			a(href="contact.html").quick-menu__link CONTACTS
		.quick-menu__item.quick-menu__item_about
			.quick-menu__bg
			a(href="about.html").quick-menu__link ABOUT US
