@font-face
  font-family 'Geomanist'
  src url('../fonts/Geomanist-Bold/Geomanist-Bold.eot')
  src url('../fonts/Geomanist-Bold/Geomanist-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Geomanist-Bold/Geomanist-Bold.woff') format('woff'), url('../fonts/Geomanist-Bold/Geomanist-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

@font-face
  font-family 'Geomanist'
  src url('../fonts/Geomanist-Light/Geomanist-Light.eot')
  src url('../fonts/Geomanist-Light/Geomanist-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Geomanist-Light/Geomanist-Light.woff') format('woff'), url('../fonts/Geomanist-Light/Geomanist-Light.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'Geomanist'
  src url('../fonts/Geomanist-Ultra/Geomanist-Ultra.eot')
  src url('../fonts/Geomanist-Ultra/Geomanist-Ultra.eot?#iefix') format('embedded-opentype'), url('../fonts/Geomanist-Ultra/Geomanist-Ultra.woff') format('woff'), url('../fonts/Geomanist-Ultra/Geomanist-Ultra.ttf') format('truetype')
  font-weight 900
  font-style normal

@font-face
  font-family 'Comme'
  src url('../fonts/Comme-Regular/Comme-Regular.eot')
  src url('../fonts/Comme-Regular/Comme-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Comme-Regular/Comme-Regular.woff') format('woff'), url('../fonts/Comme-Regular/Comme-Regular.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'MyriadPro'
  src url('../fonts/MyriadPro-Bold/MyriadPro-Bold.eot')
  src url('../fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'CourierNew'
  src url('../fonts/CourierNewPS-BoldMT/CourierNewPS-BoldMT.eot')
  src url('../fonts/CourierNewPS-BoldMT/CourierNewPS-BoldMT.eot?#iefix') format('embedded-opentype'), url('../fonts/CourierNewPS-BoldMT/CourierNewPS-BoldMT.woff') format('woff'), url('../fonts/CourierNewPS-BoldMT/CourierNewPS-BoldMT.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'NoteraPersonalUseOnly'
  src url('../fonts/NoteraPersonalUseOnly/NoteraPersonalUseOnly.eot')
  src url('../fonts/NoteraPersonalUseOnly/NoteraPersonalUseOnly.eot?#iefix') format('embedded-opentype'), url('../fonts/NoteraPersonalUseOnly/NoteraPersonalUseOnly.woff') format('woff'), url('../fonts/NoteraPersonalUseOnly/NoteraPersonalUseOnly.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gabriola'
  src url('../fonts/Gabriola/Gabriola.eot')
  src url('../fonts/Gabriola/Gabriola.eot?#iefix') format('embedded-opentype'), url('../fonts/Gabriola/Gabriola.woff') format('woff'), url('../fonts/Gabriola/Gabriola.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'NellaSueDemo'
  src url('../fonts/NellaSueDemo/NellaSueDemo.eot')
  src url('../fonts/NellaSueDemo/NellaSueDemo.eot?#iefix') format('embedded-opentype'), url('../fonts/NellaSueDemo/NellaSueDemo.woff') format('woff'), url('../fonts/NellaSueDemo/NellaSueDemo.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'BerlinSansFB-Reg'
  src url('../fonts/BerlinSansFB-Reg/BerlinSansFB-Reg.eot')
  src url('../fonts/BerlinSansFB-Reg/BerlinSansFB-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/BerlinSansFB-Reg/BerlinSansFB-Reg.woff') format('woff'), url('../fonts/BerlinSansFB-Reg/BerlinSansFB-Reg.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Loaded'
  src url('../fonts/Loaded/Loaded.eot')
  src url('../fonts/Loaded/Loaded.eot?#iefix') format('embedded-opentype'), url('../fonts/Loaded/Loaded.woff') format('woff'), url('../fonts/Loaded/Loaded.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Courier New'
  src url('../fonts/CourierNewPSMT/CourierNewPSMT.eot')
  src url('../fonts/CourierNewPSMT/CourierNewPSMT.eot?#iefix') format('embedded-opentype'), url('../fonts/CourierNewPSMT/CourierNewPSMT.woff') format('woff'), url('../fonts/CourierNewPSMT/CourierNewPSMT.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'BrushScriptMT'
  src url('../fonts/BrushScriptMT/BrushScriptMT.eot')
  src url('../fonts/BrushScriptMT/BrushScriptMT.eot?#iefix') format('embedded-opentype'), url('../fonts/BrushScriptMT/BrushScriptMT.woff') format('woff'), url('../fonts/BrushScriptMT/BrushScriptMT.ttf') format('truetype')
  font-weight normal
  font-style normal



