extends /blocks/layout-default/layout-default
include /blocks/menu/menu
include /blocks/quick-menu/quick-menu
include /blocks/hero/hero
include /blocks/weare/weare
include /blocks/wedo/wedo
include /blocks/footer/footer

block head
    - var pageTitle = 'About Us';

block content
    +menu
    +quick-menu
    +hero
    +weare
    +wedo
    +footer
