extends /blocks/layout-default/layout-default
include /blocks/menu/menu
include /blocks/quick-menu/quick-menu
include /blocks/works/weetex-page/weetex/weetex
include /blocks/works/weetex-page/weetex-logo/weetex-logo
include /blocks/works/weetex-page/weetex-screens/weetex-screens
include /blocks/footer/footer

block head
    - var pageTitle = 'CSSSR Project Template';

block content
    +menu
    +quick-menu
    +weetex
    +weetex-logo
    +weetex-screens
    +footer
