.create
  display block
  width 100%
  height 41.19vw
  background-image url("../img/create.png")
  position relative
  background-attachment fixed
  background-repeat no-repeat
  background-size cover
  background-position 0.7vw -4.3vw
  overflow hidden
  &__img
    display block
    width 102%
    height 102%
    position absolute
    top -1%
    left -1%
