mixin ferte-logo()
	section.ferte-logo&attributes(attributes)
		.ferte-logo__container
			img(src="assets/img/fortress.png" alt="fortress").ferte-logo__infinity
			p.ferte-logo__name Intellectual Fortress
			p.ferte-logo__text
				| Developement of Dubai based Company identity from the scratch.
				| Name and logo design. Photography, business cards design, marketing
				| stuff and all range of digital support.
				span.ferte-logo__lonebird Lonebird creative Studio
				| had to design and develop a concept which contains idea of using techniology
				| without fear and confusion.
				| ferte is a combination of terms  and words from both anglo-saxon language
				| and old french, where  “Ferht” (a.-s.) - MIND (and also “goodness”. “probity”)
				| and la Ferté (fr.)- fortress,  and also sometimes “force”, so name Ferte is
				| unique and can be simply translated like intellectual (mind) fortress or
				| mindforce, but related to goodness and probity.
			.ferte-logo__layout
				img(src="assets/img/ferte-logo.png" alt="ferte-logo").ferte-logo__logo-big
