.ferte-logo
  width 100%
  background-color #fff
  position relative
  &__container
    padding-top 55px
  &__infinity
    width 52px
    margin 0 auto
    display block
  &__name
    color #343434
    font-family 'BerlinSansFB-Reg'
    font-size 30px
    text-align center
    margin-top 140px
    letter-spacing 1px
  &__text
    text-align center
    font-family "Gabriola"
    color #343434
    font-size 24px
    font-weight 400
    width 537px
    margin 34px auto 0
    line-height 28px
  &__lonebird
    font-size 24px
    font-weight 400
    font-family 'NellaSueDemo'
    margin-right 10px
  &__layout
    background url("../img/ferte-card.jpg")
    background-size cover
    background-repeat no-repeat
    height 51.3vw
    margin-top 125px
  &__logo-big
    display block
    width 47.6vw
    height 24.3vw
    margin-left 24.2vw

@media screen and (max-width: 1023px)
  .ferte-logo
    &__container
      padding-top 35px
    &__infinity
      width 35px
    &__name
      margin-top 50px
    &__text
      width 80%
      margin 0 auto
    &__layout
      margin-top 50px
