mixin ferte-screens()
	section.ferte-screens&attributes(attributes)
		.ferte-screens__container
			p.ferte-screens__main.
				The range of hand drawn illustrations was created for Ferte,
				symbolysing Company’s strength and sustanability.
			img(src="assets/img/ferte-tablet.png" alt="tablet").ferte-screens__tablet
			img(src="assets/img/elephants.png" alt="elephant").ferte-screens__elephants
		.ferte-screens__block
			p.ferte-screens__company
				span.ferte-screens__ferte Ferté
				| indicates itself as an environmentally friendly Company
			p.ferte-screens__emphasise
				| To emphasise ferte’s policy, website has pictures of natural life almost on each Page
			img(src="assets/img/green-lines.png" alt="lines").ferte-screens__lines
			p.ferte-screens__why
				| “Why? Because we are not going offices every day, instead we are working from homes, so we are not causing exhaust and pollution.
				| How we meet clients? We go to meetings by public transport! It can carry more individuals at the same time which also saves environement.
				| By explainning our clients their needs, we help to avoid unecessary wastage of resources, so that they use just as much energy as they need. Increasing knowledge helps them to make right choices.
				| With money we earn we support different wildlife organizations and campains.
				| So working with us you save the planet”, -
				span.ferte-screens__ferte_small ferte
		p.ferte-screens__web WEBSITE:
		a(href="http://www.fertegroup.com").ferte-screens__link www.fertegroup.com
		.work-nav__container
			a(href="weetex.html").work-nav__btn.work-nav__btn_left previous
			a(href="hak-and-kak.html").work-nav__btn.work-nav__btn_right next