.ferte-screens
  width 100%
  &__container
    padding-top 12.2vw
    position relative
  &__main
    color #343434
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    width 28vw
    text-align center
    line-height 28px
    letter-spacing 2px
    margin 0 auto
  &__tablet
    position absolute
    top 5vw
    width 26.1vw
  &__elephants
    position absolute
    top 15.7vw
    width 100%
    height 53.4vw
  &__block
    margin-top 60.4vw
    height 615px
    width 100%
    background url('../img/green-circle.png') no-repeat
    background-position 49.7vw top
    position relative
  &__company
    color #343434
    font-family 'Geomanist'
    font-size 36px
    font-weight 200
    text-align center
    letter-spacing 2.4px
    padding-top 82px
  &__ferte
    color #98d16b
    font-family 'BrushScriptMT'
    font-size 60px
    font-weight 400
    margin-right 25px
  &__emphasise
    color #343434
    font-family "Gabriola"
    font-size 24px
    font-weight 400
    text-align center
    margin-top 35px
    letter-spacing 1.8px
  &__lines
    top 229px
    left 22.8vw
    width 25.6vw
    position absolute
  &__why
    font-family 'Geomanist'
    font-size 18px
    font-weight 400
    line-height 30px
    width 40vw
    text-align center
    margin 72px auto 0
  &__ferte_small
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
  &__web
    color #343434
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    clear both
    text-align  center
    margin-top 4.7vw
    font-style italic
  &__link
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    text-decoration none
    color #343434
    clear both
    text-align center
    display block
    margin-top 2.4vw
    letter-spacing 0.1vw
    padding-bottom 1.3vw
    font-style italic
    &:hover
      text-decoration underline

@media screen and (max-width: 1023px)
  .ferte-screens
    &__main
      width 40%
    &__block
      margin-top 40vw
      height auto
    &__emphasise
      width 80%
      text-align center
      margin 20px auto
    &__lines
      top 250px
      left 11vw
    &__why
      width 70%
      margin-top 45px

@media screen and (max-width: 767px)
  .ferte-screens
    &__main
      width 80%
    &__tablet
      top 100px
      width 140px
    &__elephants
      top 125px
      height 53.4vw
    &__block
      margin-top 49vw
    &__company
      font-size 28px
      width 90%
      margin 0 auto
    &__ferte
      font-size 50px
      margin-right 10px
    &__lines
      display none
    &__why
      width 80%
    &__web
      margin-top 40px

@media screen and (max-width: 767px)
  .ferte-screens
    &__tablet
      position static
      width 60vw
      max-width 500px
      display block
      float left
      margin-top 60px
    &__elephants
      position static
      width 100%
      margin-top 60px
    &__block
      margin-top 60px
    &__company
      padding-top 0
      font-size 24px
    &__ferte
      font-size 38px
    &__why
      margin-top 25px