.hfj
  display block
  width 100%
  background-image url("../img/quirre-bg.png")
  height 45.1vw
  position relative
  background-attachment fixed
  background-repeat no-repeat
  background-size cover
  &__wrapper
    position relative
    top 15.8vw
    left 37.3vw
    width 22.5vw
    height 9.7vw
  &__container
    width 100%
    height 100%
    opacity 0.45
    background-color #03b8d9
    position absolute
  &__title
    color white
    font-family 'Loaded'
    font-size 36px
    font-weight 400
    position absolute
    letter-spacing 0.1vw
    top 44%
    left -18%
    width 100%

@media screen and (max-width: 767px)
  .hfj
    &__title
      font-size 28px
      left -80%

@media screen and (max-width: 500px)
  .hfj
    &__title
      font-size 24px
      left -90%