mixin ferte()
	section.ferte&attributes(attributes)
		.ferte__wrapper
			.ferte__container
			p.ferte__title FERTEGROUP
		.ferte__block
			p.ferte__item Faroe Islands, North of Atlantic ocean
			p.ferte__item Courtesy of
				span.ferte__lonebird Lonebird Photography