mixin toolsta-logo()
	section.toolsta-logo&attributes(attributes)
		.toolsta-logo__container
			img(src="assets/img/infinity.png" alt="infinity").toolsta-logo__infinity
			p.toolsta-logo__name E-commerce breakthrough
			p.toolsta-logo__text
				span.toolsta-logo__lonebird Lonebird Creative Studio
				| took over one more challenging Project of e-commerce website for
				| artistic society in Asia being launched in Pakistan.
				| There are artists in Pakistan too!
				| Project has both social and commercail  objectives.
				| “Toolsta” means “Tools and Stationary” - combined in a sofisticated way.
			img(src="assets/img/toolsta-logo.png" alt="toolsta-logo").toolsta-logo__logo-big
