.toolsta-logo
  width 100%
  background-color #fff
  position relative
  &__container
    padding-top 55px
  &__infinity
    width 52px
    margin 0 auto
    display block
  &__name
    color #343434
    font-family 'BerlinSansFB-Reg'
    font-size 30px
    text-align center
    margin-top 156px
    letter-spacing 1px
  &__text
    text-align center
    font-family "Gabriola"
    color #343434
    font-size 24px
    font-weight 400
    width 537px
    margin 37px auto 0
    line-height 29px
  &__logo-big
    width 15.4vw
    height 6.3vw
    display block
    margin 352px auto 0
  &__desc
    position absolute
    font-family "Gabriola"
    color #111011
    font-size 24px
    font-weight 400
    text-align center
    bottom 393px
    right 17%
    line-height 29px
    width 232px

@media screen and (max-width: 1023px)
  .toolsta-logo
    &__text
      width 75vw
    &__name
      margin-top 100px
    &__logo-big
      width 35vw
      height auto
      margin 80px auto 0
    &__laptop
      &-block
        position relative
        width 75vw
        margin 50px auto 0
        left 0
        top 0
        height 55vw
    &__desc
      bottom -9%

@media screen and (max-width: 767px)
  .toolsta-logo
    &__container
      padding-top 50px
    &__name
      margin-top 100px
    &__logo-big
      width 300px
      margin-top 40px
    &__desc
      position static
      width 75vw
      margin 30px auto 0

@media screen and (max-width: 424px)
  .toolsta-logo
    &__name
      margin-top 60px
    &__logo-big
      width 75vw
      margin 40px auto 0