.toolsta
  display block
  width 100%
  background-image url("../img/toolsta.jpg")
  height 45.1vw
  position relative
  background-attachment fixed
  background-repeat no-repeat
  background-size cover
  overflow hidden
  &__trafaret
    display block
    position absolute
    max-height 110%
    max-width 110%

@media screen and (max-width: 1023px)
  .toolsta
    &__title
      top 34%
      left -75%
      font-size 32px

@media screen and (max-width: 767px)
  .toolsta
    &__title
      top 25%
      left -80%
      font-size 26px
