.hak-screens
  width 100%
  &__container
    padding-top 161px
    position relative
    &:after
      content ""
      display table
      clear both
  &__main-img
    display block
    margin-left 23.6vw
    width 52.4vw
  &__text
    color #343434
    font-size 24px
    font-weight 400
    font-family 'Gabriola'
    width 32vw
    margin 9.8vw 0 0 36vw
    line-height 27px
    text-align center
  &__lonebird
    color #343434
    font-size 24px
    font-weight 400
    font-family 'NellaSueDemo'
  &__lap
    position absolute
    right 0
    top 44.2vw
    width 52.8vw
  &__web
    color #343434
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    clear both
    text-align  center
    margin-top 29.4vw
    letter-spacing 1px
    font-style italic
  &__link
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    text-decoration none
    color #343434
    clear both
    text-align center
    display block
    margin-top 2.4vw
    letter-spacing 0.1vw
    padding-bottom 1.3vw
    font-style italic
    &:hover
      text-decoration underline

@media screen and (max-width: 1023px)
  .hak-screens
    &__container
      padding-top 60px
    &__main-img
      width 75vw
      margin 0 auto
    &__text
      width 75vw
      margin 60px auto 0
    &__lap
      width 75vw
      position static
      float right
    &__web
      margin-top 100px