mixin hak-screens()
	section.hak-screens&attributes(attributes)
		.hak-screens__container
			img(src="assets/img/hak&kak.png" alt="hak").hak-screens__main-img
			p.hak-screens__text
				| HAK&KAK first of all is a family. One of the main tasks for
				span.hak-screens__lonebird Lonebird Creative Studio
				| was to develop a very personal website
				| containing photo archive of the founder, and place it as Picture Gallery.
			img(src="assets/img/meal-lap.png" alt="lap").hak-screens__lap
		p.hak-screens__web WEBSITE:
		a(href="https://www.hakandkak.com").hak-screens__link www.hakandkak.com
		.work-nav__container
			a(href="ferte.html").work-nav__btn.work-nav__btn_left previous
			a(href="how-find-job.html").work-nav__btn.work-nav__btn_right next