mixin interfood-screens()
	section.interfood-screens&attributes(attributes)
		.interfood-screens__container
			img(src="assets/img/interfood-laptop-circle.png" alt="laptop").interfood-screens__laptop
			img(src="assets/img/interfood-plants-circle.png" alt="laptopplants").interfood-screens__plants
			p.interfood-screens__text
				span.interfood-screens__lonebird Lonebird Creative Studio
				| devised visually strong conception,using familiar authentic symbols and
				| latest advances as a backbone of impression.
			.work-nav__container
				a(href="how-find-job.html").work-nav__btn.work-nav__btn_left previous
				a(href="ivento.html").work-nav__btn.work-nav__btn_right next
