mixin toolsta-screens()
	section.toolsta-screens&attributes(attributes)
		.toolsta-screens__container
			p.toolsta-screens__text.
				The main goal and determination of Toolsta is to educate
				artists of small cities of Pakistan, to give them tooland opportunity to 4
				find and contact each other, to widen their horizons as people of art.
				To help them start their journey beyond social, cultural or religious boundaries.
		img(src="assets/img/quirre-laptop.png" alt="quirre-laptop").toolsta-screens__laptop
		img(src="assets/img/toolsta-tablet.png" alt="toolsta-tablet").toolsta-screens__tablet
		img(src="assets/img/toolsta-space.png" alt="space").toolsta-screens__space
		img(src="assets/img/toolsta-laptop.png" alt="lap").toolsta-screens__lap
		p.toolsta-screens__web WEBSITE:
		a(href="http://www.toolsta.com").toolsta-screens__link www.toolsta.com
		.work-nav__container
			a(href="quirre.html").work-nav__btn.work-nav__btn_left previous
			a(href="weetex.html").work-nav__btn.work-nav__btn_right next
