.interfood-logo
  width 100%
  background-color #fff
  position relative
  &__container
    padding-top 115px
  &__infinity
    width 118px
    margin 0 auto
    display block
  &__name
    color #343434
    font-family 'BerlinSansFB-Reg'
    font-size 30px
    text-align center
    margin-top 56px
    letter-spacing 1px
  &__text
    text-align center
    font-family "Gabriola"
    color #343434
    font-size 24px
    font-weight 400
    width 537px
    margin 34px auto 0
    line-height 28px
  &__lonebird
    font-family 'NellaSueDemo'
    margin-right 10px
  &__logo-big
    width 136vh
    display block
    margin 167px auto 0

@media screen and (max-width: 1023px)
  .interfood-logo
    &__infinity
      width 52px
    &__text
      width 75vw
    &__name
      margin-top 100px
    &__logo-big
      width 75vw
      margin 60px auto 0

@media screen and (max-width: 767px)
  .interfood-logo
    &__container
      padding-top 50px
    &__name
      margin-top 80px
    &__logo-big
      position static
      width 85vw
      margin-top 0

@media screen and (max-width: 424px)
  .interfood-logo
    &__name
      margin-top 60px
    &__logo-big
      width 80vw
      margin-top 40px