mixin ivento-logo()
	section.ivento-logo&attributes(attributes)
		.ivento-logo__container
			img(src="assets/img/infinity.png" alt="infinity").ivento-logo__infinity
			p.ivento-logo__name Anytime, anywhere
			p.ivento-logo__text
				| Project devised to help people in meeting each other in real life.
				span.ivento-logo__lonebird Lonebird Creative Studio
				| completed a website design, logo and project identity.
			img(src="assets/img/logo-big.png" alt="logo-big").ivento-logo__logo-big
		p.ivento-logo__desc.
			Project logo symbolizing firework - something being easily
			associated with events, celebrations, milestones...
