mixin weare()
	section.weare&attributes(attributes)
		.weare__container
			.weare__info
				p.weare__name WE ARE
				p.weare__text.
					Small team of talented people with inquisitive minds,
					we value: freedom and equalty, we like to learn and share.
				p.weare__text.weare__text_second.
					Work done by Lonebird Creative Studio is the work
					made with heart and commitment. Elegant and gracefull.
				p.weare__text.
					Our sense of perfection demands us to be constantly inventive,
					this is why any of your Projects turn out unaviodably unique
			.weare__pink
				p.weare__lonebird lone bird

