mixin weetex-screens()
	section.weetex-screens&attributes(attributes)
		.weetex-screens__container
			img(src="assets/img/circle&laptop.png" alt="laptop").weetex-screens__laptop
			img(src="assets/img/ethiopian.png" alt="ethiopian").weetex-screens__ethiopian
			p.weetex-screens__desc
				span.weetex-screens__design Design
				| envisages on-line registration for Exhibition for both visitors
				| and exhibitors, so we were supposed to create an interface
				| for different types of account holders.
			p.weetex-screens__info
				span.weetex-screens__lonebird Lonebird Creative Studio
				| devised an attractive concept,
				| including animation of main logo element, provided by client.
			img(src="assets/img/weetex-flower.png" alt="flower").weetex-screens__flower
		.work-nav__container
			a(href="toolsta.html").work-nav__btn.work-nav__btn_left previous
			a(href="ferte.html").work-nav__btn.work-nav__btn_right next