mixin hak()
	section.hak&attributes(attributes)
		.hak__wrapper
			.hak__container
			p.hak__title hak&kak
		.hak__block
			p.hak__item House of Khalid Al Khajah
			p.hak__item Courtesy of
				span.hak__lonebird Lonebird Photography
