.toolsta-upper
  height 45.1vw
  width 100%
  position relative
  background-color transparent
  overflow hidden
  &__trafaret
    display block
    position absolute
    max-height 110%
    max-width 110%