mixin footer()
	section.footer&attributes(attributes)
		button.footer__up
			img.footer__back(src="assets/img/back.png" alt="back")
		.footer__container
			img.footer__bird(src="assets/img/bird.png" alt="bird")
			.footer__icons
				a(href="#").footer__link
					img.footer__social(src="assets/img/instagram.svg" alt="instagram")
				a(href="#").footer__link
					img.footer__social(src="assets/img/twitter.svg" alt="twitter")
				a(href="#").footer__link
					img.footer__social(src="assets/img/in.png" alt="linkedin")
				a(href="#").footer__link
					img.footer__social(src="assets/img/facebook.svg" alt="facebook")
				a(href="#").footer__link
					img.footer__social(src="assets/img/upwork.png" alt="upwork")