mixin weetex-logo()
	section.weetex-logo&attributes(attributes)
		.weetex-logo__container
			img(src="assets/img/infinity.png" alt="infinity").weetex-logo__infinity
			p.weetex-logo__name Colorful Ethiopia
			p.weetex-logo__text
				| Website was designed as one of two applications for exhibitions taking place in Ethiopiain year 2017.
				span.weetex-logo__lonebird Lonebird Creative Studio
				| was put in task to create a different non-stereotypical look of Ethiopia,
				| modern, peculiar, with rich potential. We made entire story-telling concept and structure,
				| also having put special effort in content writing, we created image of Ethiopia as an attractive platform for investing activities.
			img(src="assets/img/weetex-logo.png" alt="weetex-logo").weetex-logo__logo-big

