mixin hfj-logo()
	section.hfj-logo&attributes(attributes)
		.hfj-logo__container
			img(src="assets/img/infinity.png" alt="infinity").hfj-logo__infinity
			p.hfj-logo__name UAE best job hunters’ hub
			p.hfj-logo__text
				span.hfj-logo__lonebird Lonebird Creative Studio
				| is working with talented UAE
				| enterpreneur launching a few successful projects in a year.
				| “Sometimes you need just a right advice given at a right time
				| to start your Dream Life”, - his sying.
				br
				span.hfj-logo__find HOW TO FIND A JOB IN UAE
				| is unique advices in the shape
				| of blog from the UAE experienced resident and CEO
			img(src="assets/img/hfj-logo.png" alt="hfj-logo").hfj-logo__logo-big
			p.hfj-logo__desc
				| Blog was designed and lately upgraded with extended
				| set of options for Companies, and applicants.
				| Blog has registration/accounts system.
				| It has complex search interface and feature of
				| interaction between applicants and Companies.
				| Website has bright, modern but elegant minimalistic design.
				br
				br
				| Project required also developing of Mobile virsion with numbers
				| of solutions for smartphones’ users.
