.hfj-logo
  width 100%
  background-color #fff
  position relative
  &__container
    padding-top 75px
  &__infinity
    width 52px
    margin 0 auto
    display block
  &__name
    color #343434
    font-family 'BerlinSansFB-Reg'
    font-size 30px
    text-align center
    margin-top 157px
    letter-spacing 1px
  &__text
    text-align center
    font-family "Gabriola"
    color #343434
    font-size 24px
    font-weight 400
    width 537px
    margin 50px auto 0
    line-height 28px
  &__lonebird
    font-family 'NellaSueDemo'
    font-size 24px
    font-weight 400
    margin-right 10px
  &__find
    font-family 'Geomanist'
    font-size 18px
    font-weight 700
    margin-right 10px
  &__logo-big
    display block
    position absolute
    top -5.5vw
    right 0
    width 83.7vw
  &__desc
    color #343434
    font-family 'Gabriola'
    font-size 24px
    font-weight 400
    margin 25.5vw auto 0
    font-style italic
    text-align center
    width 24vw
    line-height 28px

@media screen and (max-width: 1600px)
  .hfj-logo
    &__container
      padding-top 40px
    &__name
      margin-top 40px
    &__logo-big
      display block
      position absolute
      top -1.5vw
      right 0
      width 78.7vw

@media screen and (max-width: 1280px)
  .hfj-logo
    &__name
      font-size 20px
    &__text, &__lonebird, &__find
      font-size 18px
    &__text
      width 320px
    &__desc
      margin-top 14.5vw
      width 31vw

@media screen and (max-width: 1023px)
  .hfj-logo
    &__text
      width 75vw
    &__name
      margin-top 100px
    &__laptop-block
      width 75vw
      max-width 600px
      height 53vw
      position relative
      margin 80px auto 0
      top 0
      left 0
    &__desc
      width 75vw
      margin 80px auto 0

@media screen and (max-width: 767px)
  .hfj-logo
    &__container
      padding-top 50px
    &__name
      margin-top 80px
    &__find
      font-size 16px
    &__logo-big
      position static
      width 85vw
      float right
      margin-top 0
    &__desc
      position static
      clear both
      width 75vw
      margin 0 auto
      padding-top 40px

@media screen and (max-width: 424px)
  .hfj-logo
    &__name
      margin-top 60px
    &__logo-big
      width 95vw